<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% time = Time.new %>
    <% year = time.year %>
    <h1><%= time %><br><%= year %></h1>

  </body>
</html>
